h1{
  color: black;
  font-size: 70px;
}
.introduction{
  background-color: blue;
  border-radius: 100%;
  box-shadow: 0 5px 12px 10px #000;
}
h2{
  color: chocolate;
}
body{
  text-align: center;
  background-color: deepskyblue;
}
img{
  border-radius: 90%;
  box-shadow: 0 0 8px 2px #888;
}
p{
  font-weight: bold;
  font-style: italic;
}
